
@inherits UmbracoViewPage<Portfolio.CMS.ViewModels.HomePageVM>

@{ 
    var ProfilePicture = Umbraco.Media(Model.ProfilePicture.Id).url;
}








<div id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="@ProfilePicture" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-descr">

                    <p class="p-heading">@Model.AboutTitle</p>
                    <p class="separator">@Model.AboutText</p>

                </div>

            </div>
        </div>
    </div>
</div>

