@inherits UmbracoViewPage<Portfolio.CMS.ViewModels.HomePageVM>


<div id="journal" class="text-left paddsection">

    <div class="container">
        <div class="section-title text-center">
            <h2>Show-reel</h2>
        </div>
    </div>

    <div class="container">
        <div class="journal-block">
            <div class="row">

                @foreach (var vid in Model.Videos)
    {
            <div class="col-lg-4 col-md-6">
                <div class="journal-info">

                    <a href="blog-single.html">



                        <video style="max-width:100%" controls="controls">
                            <source src="@Umbraco.TypedMedia(vid.Video.Id.ToString()).Url" type="video/mp4" />
                        </video>
                    </a>

                    <div class="journal-txt">

                        <h4><a href="blog-single.html">@vid.Title</a></h4>
                        <p class="separator">
                            @vid.Summary
                        </p>

                    </div>

                </div>
            </div>
}




            </div>
        </div>
    </div>

</div>
