<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT showReelVideo ANY>
<!ATTLIST showReelVideo id ID #REQUIRED>
<!ELEMENT portfolioPictures ANY>
<!ATTLIST portfolioPictures id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1067" key="d0b8ceca-5a20-46ff-9d35-510263f33403" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-10T11:41:17" updateDate="2019-04-10T22:16:18" nodeName="Home Page" urlName="home-page" path="-1,1067" isDoc="" nodeType="1064" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="1063" nodeTypeAlias="homePage" isPublished="false">
    <banner><![CDATA[umb://media/bf0deb7aafc94c28adbfd20e9335f423]]></banner>
    <fullName><![CDATA[Olu Adesina]]></fullName>
    <profilePicture><![CDATA[umb://media/c269a94dd67b40799a5f9151df3120c0]]></profilePicture>
    <skills><![CDATA[Umbraco
.Net]]></skills>
    <aboutTitle><![CDATA[olu Adesina junior developer ]]></aboutTitle>
    <aboutText><![CDATA[o an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.English person.]]></aboutText>
    <portfolioPictures id="1079" key="da49e254-e097-487d-9803-c2ba19b0a9a1" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2019-04-10T14:30:47" updateDate="2019-04-10T14:30:47" nodeName="Steven Gerrard" urlName="steven-gerrard" path="-1,1067,1079" isDoc="" nodeType="1071" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="0" nodeTypeAlias="portfolioPictures" isPublished="true">
      <image><![CDATA[umb://media/8b9b0fa90c294c90857a198d68dc045f]]></image>
    </portfolioPictures>
    <portfolioPictures id="1082" key="12f0e32f-6d7b-4778-9bba-a8f574316262" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2019-04-10T14:32:19" updateDate="2019-04-10T14:32:19" nodeName="Actor" urlName="actor" path="-1,1067,1082" isDoc="" nodeType="1071" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="0" nodeTypeAlias="portfolioPictures" isPublished="true">
      <image><![CDATA[umb://media/0392d7e455874a43a8aac37c01949ff8]]></image>
    </portfolioPictures>
    <showReelVideo id="1084" key="32f352ac-4b49-49e0-a1bb-41db0fd26303" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2019-04-10T14:33:20" updateDate="2019-04-10T14:33:20" nodeName="Ranger Rover" urlName="ranger-rover" path="-1,1067,1084" isDoc="" nodeType="1076" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="1075" nodeTypeAlias="showReelVideo" isPublished="true">
      <video><![CDATA[umb://media/769d9ad420a445a4b259b959c7393dea]]></video>
      <title><![CDATA[Ranger Rover]]></title>
      <summary><![CDATA[o an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.English person.]]></summary>
    </showReelVideo>
    <showReelVideo id="1086" key="f9d75855-e92f-43aa-a113-d7558b7079d4" parentID="1067" level="2" creatorID="0" sortOrder="3" createDate="2019-04-10T14:34:31" updateDate="2019-04-10T14:34:31" nodeName="Bwm" urlName="bwm" path="-1,1067,1086" isDoc="" nodeType="1076" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="1075" nodeTypeAlias="showReelVideo" isPublished="true">
      <video><![CDATA[umb://media/f17300939d2f4893be7368a3e7f232ae]]></video>
      <title><![CDATA[Bmw]]></title>
      <summary><![CDATA[o an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.English person.]]></summary>
    </showReelVideo>
    <showReelVideo id="1088" key="e4b6719a-afca-40a2-9891-6c627b249cb8" parentID="1067" level="2" creatorID="0" sortOrder="4" createDate="2019-04-10T22:26:59" updateDate="2019-04-10T22:26:59" nodeName="BMW" urlName="bmw" path="-1,1067,1088" isDoc="" nodeType="1076" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="1075" nodeTypeAlias="showReelVideo" isPublished="true">
      <video><![CDATA[umb://media/989048fb0c2943798ad31fc32e50045f]]></video>
      <title><![CDATA[bmw]]></title>
      <summary><![CDATA[NKFDJVKNFDJKVNKDFVJKFNVKJ;FNKJVCN KFJNVKEJNCVJENKJNEFJKNVJKNKJDFNVJKNFJKVNKEFJNVEF
VEJKFNKV;EFNJVOENJORVEE]]></summary>
    </showReelVideo>
  </homePage>
</root>