<!DOCTYPE root[<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1067" key="d0b8ceca-5a20-46ff-9d35-510263f33403" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-10T11:41:17" updateDate="2019-04-10T11:41:17" nodeName="Home Page" urlName="home-page" path="-1,1067" isDoc="" nodeType="1064" creatorName="Olu Adesina" writerName="Olu Adesina" writerID="0" template="1063" nodeTypeAlias="homePage" isPublished="false">
    <banner><![CDATA[umb://media/bf0deb7aafc94c28adbfd20e9335f423]]></banner>
    <fullName><![CDATA[Olu Adesina]]></fullName>
    <profilePicture><![CDATA[umb://media/c269a94dd67b40799a5f9151df3120c0]]></profilePicture>
    <skills><![CDATA[Umbraco
.Net]]></skills>
  </homePage>
</root>